<!DOCTYPE html>
<html>
<head>
    <title>RasDrive</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src='{{ static_url("js/status_script.js") }}'></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ static_url('img/icon.png') }}">
</head>
<body>
    <div id="menuBar">
        <img id="hamMenuPic" src="{{ static_url('img/hamb.png') }}">
        <a href="index.html">
            <img id="RasLogo" src="{{ static_url('img/RasLogo.png') }}">
        </a>
    </div>

    <div id="dropdown">
        <ul class="navigation" id="navMenu">
            <li><a href="index.html">Home</a></li>
            <li><a href="status.html">Status</a></li>
            <li><a href="sync.html">Sync</a></li>
        </ul>
    </div>

    <div id="bodyWrapper">
        <div id="bodyContent">
            <!-- Button to request server status -->
            <button id="request">Refresh</button>
            <br>

            <!-- Text that displays server status -->
            <div id="status">
                {% for node in server_list + backup_list %}
                {% if node.online %}
                <b><u>{{ node.hostname }}:</u></b> <font color='green'>ONLINE<font> - {{ node.ip }}<br><br>
                CPU: {{ node.cpu }} %<br>
                Disk Usage: {{ node.disk_usage }} %<br>
                Bytes Sent: {{ node.net_stats.bytes_sent }}<br>
                Bytes Received: {{ node.net_stats.bytes_recv }}<br>
                Error In: {{ node.net_stats.errin }}
                Error Out: {{ node.net_stats.errout }}<br>
                Drop In: {{ node.net_stats.dropin }}
                Drop Out: {{ node.net_stats.dropout }}<br><br>
                {% else %}
                <b><u>{{ node.hostname }}:</u></b> <font color='red'>OFFLINE<font><br><br>
                    CPU: N/A<br>
                    Disk Usage: N/A<br>
                    Bytes Sent: N/A<br>
                    Bytes Received: N/A<br>
                    Error In: N/A
                    Error Out: N/A<br>
                    Drop In: N/A
                    Drop Out: N/A<br><br>
                    {% end %}
                {% end %}
            </div>
        </div>
    </div>
</body>
</html>
